footer.component.footer
	.container
		.row
			.col-md-3
				//- Zamieszczam Ci przykładowe zastosowanie
				- var records = [{href: '#', title: 'Title', text: 'demo Text'}]
				+comp-nav-box('Tytuł dla listy')